LandingPage {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    margin-bottom:150px;
}

.logo {
    width: 45%;
    padding: 15px;
}

.menu {
    margin-top: 15px;
    font-size: large;
}

.green {
    color: #8BBE49;
}

.about-block {
    margin-top:200px;
}

.about-text {
    text-align: left !important;
}

.about-image {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-block {
    margin-top:280px;
}

.beneficiary-block {
    padding-top:300px;
    padding-bottom:300px;
}

.projects-heading {
    color: #FC8F10;
}